* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.calculator {
    width: 16rem;
}

.display,
.panel {
    max-width: 100%;
}

.display {
    padding-bottom: 5px;
}

.input {
    resize: none;
    height: 5rem;
    width: 100%;
    border: 0;
    padding: 0 2rem;
}

.panel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

button {
    aspect-ratio: 1;
    font-size: 1.2rem;
    border: 0;
}

.digit--top {
    grid-row: 2;
}

.digit--mid {
    grid-row: 3;
}

.digit--bot {
    grid-row: 4;
}

.digit--zero {
    grid-row: 5;
}

#CE {
    grid-row: 1;
    grid-column: 4;
}

.operator--right {
    grid-column: 4;
}

#EQ {
    grid-row: 5;
    grid-column: span 2;
    aspect-ratio: unset;
}