* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.calculator {
    width: 16rem;
}

.display-container {
    margin-bottom: 5px;
    padding: 1rem;
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.display {
    width: 100%;
    border: 0;
}

.panel {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

button {
    aspect-ratio: 1;
    font-size: 1.2rem;
    border: 0;
}

.digit--top {
    grid-row: 2;
}

.digit--mid {
    grid-row: 3;
}

.digit--bot {
    grid-row: 4;
}

.digit--zero {
    grid-row: 5;
}

#CE {
    grid-row: 1;
    grid-column: 4;
}

.operator--right {
    grid-column: 4;
}

#EQ {
    grid-row: 5;
    grid-column: span 2;
    aspect-ratio: unset;
}